body {
  margin: 0;
  border: 0;
  user-select: none;
}
:root {
  --bg: radial-gradient(circle,#e161af,#ef53a4,#f82e73);
  --heart: #e71172;
}
section {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: var(--bg);
  position: absolute;
  display: block;
  z-index: 0;
}

#left {
  height: 15rem;
  width: 8rem;
  background: var(--heart);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%,-50%);
  border-radius: 18rem 20rem 0 10pc;
  z-index: 0;
}
#left::before {
  content: '';
  position: absolute;
  display: block;
  height: 15rem;
  width: 8rem;
  background: radial-gradient(#e161af,#ef53a4);

  top: 65%;
  left: 30%;
  transform: translate(-60%,-36%) rotate(-45deg);
  
}
#left::after {
  content: '';
  position: absolute;
  display: block;
  height: 14rem;
  width: 1px;
  background: transparent;
  left: 50%;
  top: 5%;
  transform: translate(-40%,-0.5%) rotate(-45deg);
  border-left: 5rem solid var(--heart);
  border-radius: 100pc 5pc 0 10pc;
}


#right {
  height: 15rem;
  width: 8rem;
  background: var(--heart);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20%,-50%);
  border-radius: 20rem 18rem  10pc 0;
  z-index: 0;
}

#right::before {
  content: '';
  position: absolute;
  display: block;
  height: 15rem;
  width: 8rem;
  background: radial-gradient(#e161af,#ef53a4);
  top: 30%;
  left: 30%;
  transform: rotate(45deg);
}
#right::after {
  content: '';
  position: absolute;
  display: block;
  height: 13.35rem;
  width: 1px;
  background: transparent;
  left: 50%;
  top: 5%;
  transform: translate(-51%,1.5%) rotate(-135deg);
  border-left: 5rem solid var(--heart);
  border-radius: 8rem 5pc  0 100pc;
}


#arrow {
  height: 5rem;
  width: 1rem;
  background: whitesmoke;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 1;
  transform: rotate(45deg) translate(-300%,123%);
  box-shadow: 2px 0px 8px black inset;
  border-radius: 0 0 8px 8px;

}
#arrow::before ,#arrow::after {
  content: '';
  display: block;
  position: absolute;
  background: whitesmoke;
  box-shadow: 2px 0px 8px black inset;
  height: 5rem;
  width: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-350%);
  border-radius: 0 0 5px 5px;
  border-bottom: 4px 4px solid black;

}
#arrow::after {
  width: 2.5rem;
  height: 2.5rem;
  transform: translate(-50%,-750%) rotate(-133deg);
  border-radius: 150rem 15rem 4px 4px;
  box-shadow: -2px 2px 8px black inset;

}
#shadow {
  height: 0.8rem;
  width: 1.2rem;
  border-radius: 0rem
  12rem 7rem 0rem;
  background: var(--heart);
  box-shadow: 1px -5px 5px rgba(0,0,0,0.465);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(200%,-575%) rotate(45deg);
  z-index: 2;
}

h2 ,.que{
  margin: 0;
  top: 50%;
  padding: 0rem;
  transform: translate(0,100%) scale(1);
  text-align: center;
  font-family: Tahoma;
  color: rgb(252,230,240);
  text-shadow: 0px 2px 8px black;
  font-variant: small-caps;
}
.que{
  transform: translate(0,50%);
}

#backdrops {
  z-index: 5;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background: radial-gradient(circle,rgb(177,232,245), rgb(93,226,241),rgb(26,156,207));
  position: absolute;
  
}
#backdrops.hid{
  animation: backHid 2s linear ;
  transform: translate(0%,-100%);
}
@keyframes backHid{
  from{
    transform: translate(0,0);
  }
  to{
    transform: translate(0%,-100%);
  }
}

#rad {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#input{
  height: 3rem;
  width: 15rem;
  border-radius: 5px;
  outline: none;
  position: absolute;
  background: #fd8fc0;
  box-shadow: -3px 1px 10px black;
  top: 50%;
  transform: translate(0%,-200%);
  text-align: center;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
  font-variant: small-caps;
  color: #c4e6ee;
  overflow-x: scroll;
}
button{
  width: 2.5rem;
  height: 2.5rem;
  background: linear-gradient(45deg,red,white);
  outline: none;
  border: transparent;
  border-radius: 10pc;
  text-align: center;
  margin: 10px 5px;
  color: #fef0e1;
  top: 50%;
  left: 50%;
  transform: translate(30%,200%);
  box-shadow: -3px 2px 8px black;
  cursor: pointer;
}
button:nth-of-type(14){
  transform: translate(30%,200%) rotate(90deg);
    box-shadow: 3px 2px 8px black;
      background: linear-gradient(-45deg,red,white);
}
button:last-of-type{
  background: #2954ea;
}
#dlt{
  background: black;
}
button:active,#dlt:active{
  background: #e45b99f1;
  box-shadow: -3px 3px 8px black inset;
}
#inputext{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-100%);
  outline: none;
  border: none;
  text-align: center;
  padding: 2px 0 5px 0;
  overflow-x: hidden;
  overflow-y: hidden;
}
#submit{
  width: 5rem;
  top: 50%;
  left: 50%;
    transform: translate(0%,200%);

}
#hint{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,600%);
  color: whitesmoke;
  display: none;
  background: #e77bb7;
  padding: 1rem;
}
#hint.show{
  display: block;
  transform-style: 1s;
}
 span{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,600%);
  color: black;
  display: block;
  background: #f4f6f7;
  padding: 10px;
  border-radius: 5px;
}
audio{
  top: 50%;
  left: 50%;
  transform: translate(0,100%);
}